@import url("/stylesheets/style.css");

nav {
    background-image: url("/images/header bar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110px;
    font-family: var(--par2-font);
    font-size: 15pt;
    
    
  }
  
  .logo {
    max-width: 230px; 
    max-height: 125px;
    
  }
  .nav-item {
    display: flex;
    align-items: center;
    padding: 20px;
    
  }
  .login {
    background-color: transparent;
    border: 0px;
    color: var(--white);
    font-size: 20pt;
    margin-left: auto;
  }
  
  .login-img {
    padding-top: 20pt;
    max-width: 50px;
  }
  
  .nu {
    padding-left: 50px;
    text-decoration: none;
  }
  
  .nav-link {
    display: inline-block;
    color: var(--white);
    padding: 10px 20px;
  
  }
  
  .red-word {
    color: rgb(193, 12, 12);
  }
  
  .nav-link:hover {
    color: rgb(213, 164, 74);
  }

  .active-item {
    background-color: var(--grey);
    border-radius: 50px;
    display: flex;
    align-items: center; 
  

  }
  
  .nav-link.red-word:hover {
    color:  rgb(213, 164, 74);
  }
  
  @media (max-width: 767.98px) {
    .navbar-nav.ml-auto {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
   
    }
    
    .nav-item {
      float: none;
      display: table-cell;
      text-align: center;
    }
    
    .logo {
      margin: 0;
    }
    
    .login {
      margin: 0;
    }
  }
  