
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Londrina+Solid&family=Press+Start+2P&family=Roboto+Mono&family=Swanky+and+Moo+Moo&display=swap');
:root {
    /* colors */
    --dark-green:#435C53;
    --light-green: #819890;
    --green: #5A686F;
    --grey: #E1DACC;
    --white: #FEF5F5;
    --beige: #EDDBD0;
    --light-brown: #E7C2A5;
    --brown: #D4AA89;
    --dark-blue: #3A5F74;
    --light-blue: #3A5F74;
    --pink: #EBCAD3;
    --blue: #BED8E3;
    --yellow: #F2E8BA;
    --pastel-green: #C6E5D5;
    --red: #FAC2BB;
    --purple: #D2D2E2;
    /* fonts */
    --par1-font: 'Roboto Mono', monospace;
    --par2-font: 'Kirang Haerang', cursive;
    --header1-font: 'Londrina Solid', cursive;
    --header2-font: 'Swanky and Moo Moo', cursive;
    --error-font: 'Press Start 2P', cursive;
}