<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/experiences.css" rel="stylesheet" />
</head>

<body>
  <%- include('./partials/header', {active: 'experiences' }) %>
    <h1><span class="white-word">Adoption</span><span class="green-word">Experience</span></h1>
    <hr>

    <% if (cookies && user.type != "admin" ) { %>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <button class="button" onclick="displayExperiences('', false)">all experiences</button>
        </div>
        <div class="col-2">
          <button class="button" onclick="displayExperiences('<%=user._id%>', true)">my experiences</button>
        </div>
        <div class="col-4">
        </div>
        <div class="col-2 d-flex justify-content-end">
          <a href="/requests/experience-form"><button class="img-button"></button></a>
        </div>
        <div class="col-1">
        </div>
      </div>
      <% } %>

        <div id="cards-container" class="grid d-flex justify-content-center"></div>
        <script src="/scripts/apiController.js"></script>
        <%- include("../public/scripts/experiences.ejs") %>

</body>

</html>