<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/experiences.css" rel="stylesheet" />
</head>

<body>
  <%- include('./partials/header', {active: 'experiences' }) %>
    <h1><span class="white-word">Adoption</span><span class="green-word">Experience</span></h1>
    <hr>

    <% if (cookies && user.type != "admin" ) { %>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <button class="button" onclick="displayExperiences('', false)">all experiences</button>
        </div>
        <div class="col-2">
          <button class="button" onclick="displayExperiences('<%=user._id%>', true)">my experiences</button>
        </div>
        <div class="col-4">
        </div>
        <div class="col-2 d-flex justify-content-end">
          <a href="/requests/experience-form"><button class="img-button"></button></a>
        </div>
        <div class="col-1">
        </div>
      </div>
      <% } %>

      <div id="cards-container" class="container">
        <div class="row">
          <div id="c1" class="col-4 d-flex justify-content-end">
          </div>
          <div id="c2" class="col-4 d-flex justify-content-center">
          </div>
          <div id="c3" class="col-4 d-flex justify-content-start">
          </div>
        </div>
        <div class="row">
          <div id="c4" class="col-4 d-flex justify-content-end">
          </div>
          <div id="c5" class="col-4 d-flex justify-content-center">
          </div>
          <div id="c6" class="col-4 d-flex justify-content-start">
          </div>
        </div>
      </div>
      <ul class="pagination justify-content-center py-2">
        <li class="page-item disabled"><a id="pre" class="page-link" onclick="displayExperiences(event)">previous</a></li>
        <li class="page-item active"><a id="p1" class="page-link" onclick="displayExperiences(event)">1</a></li>
        <li class="page-item "><a id="p2" class="page-link" onclick="displayExperiences(event)">2</a></li>
        <li class="page-item"><a id="p3" class="page-link" onclick="displayExperiences(event)">3</a></li>
        <li class="page-item"><a id="next" class="page-link" onclick="displayExperiences(event)">next</a></li>
      </ul>
        <script src="/scripts/apiController.js"></script>
        <%- include("../public/scripts/experiences.ejs") %>

</body>

</html>