<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/forms.css" rel="stylesheet" />
</head>

<body class="form">
  <%- include('./partials/header', {active: 'requests' })%>
    <h1><span class="white-word">Experience</span> <span class="green-word">Form</span></h1>
    <hr>
    </hr>
    <div class="container mt-3">
      <form class="p-5" action="/api/experiences" method="post">
        <div class="row p-2">
          <div class="col-6">
            <label for="animal-picture">Provide us a picture of the adopted animal:</label><br><br>
            <input type="file" id="animal-picture" name="animal-picture" accept="image/*">
          </div>
          <div class="col-6">
            <label for="adoption-experience">Please share your adoption experience and your kind feedback on the
              volunteering services that the shelter provides:</label>
            <textarea class="form-control" rows="2" id="adoption-experience" name="adoption-experience"></textarea>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-6">
            <label for="share-post">Do you wish to share this experience post on our website?</label>
            <select id="share-post" name="share-post" class="form-select">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="col-6">
            <label for="anonymous-post">Do you prefer your experience post to be anonymous?</label>
            <select id="anonymous-post" name="anonymous-post" class="form-select">
              <option value="yes">Yes</option><br>
              <option value="no">No</option>
            </select>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-10"></div>
          <div class="col-2">
            <button class="button" type="submit">Submit</button>
          </div>
        </div>



      </form>
    </div>
</body>

</html>