<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/forms.css" rel="stylesheet" />
</head>

<body class="form">
  <%- include('./partials/header', {active: 'requests' })%>
    <h1><span class="white-word">Handover</span> <span class="green-word">Form</span></h1>
    <hr>
    </hr>
    <div class="container mt-3">
      <form class="p-5" action="/api/handover" method="post" style="max-height: 550px;">
        <div class="row p-2">
          <div class="col-6">
            <label for="handoverAddress">Provide a Google Map URL of your address:</label><br><br>
            <input class="form-control" type="url" id="address" name="handoverAddress" required>
          </div>
          <div class="col-6">
            <label for="handoverReason">Why do you want to handover your pet?</label>
            <textarea class="form-control" id="reason" name="handoverReason" minlength="5" maxlength="500" required></textarea>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-6">
            <label for="canFoster">Are you able to foster the animal(s) until adopted?</label><br>
            <input class="form-check-input" type="radio" id="foster-yes" name="canFoster" value="yes" checked>
            <label class="form-check-label" for="foster-yes">Yes</label><br>
            <input class="form-check-input" type="radio" id="foster-no" name="canFoster" value="no">
            <label class="form-check-label" for="foster-no">No</label>
          </div>
          <div class="col-6">
            <label for="petImage">Provide a picture of your animal:</label><br>
            <input type="file" id="photo" name="petImage" max(10485760) required>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-6">
            <label for="petType">What type is your pet?</label>
            <select class="form-select" id="breed" name="petType" required>
              <option value="cat">Cat</option>
              <option value="dog">Dog</option>
              <option value="rabbit">Rabbit</option>
              <option value="fish">Fish</option>
              <option value="turtle">Turtle</option>
              <option value="hamster">Hamster</option>
              <option value="bird">Bird</option>
              <option value="guinea pig">Guinea pig</option>
              <option value="frog">Frog</option>
            </select>
          </div>
          <div class="col-6">
            <label for="breed">What breed is your animal?</label>
            <select class="form-select" id="breed" name="breed">
              <option value="">Nothing specific</option>
              <option value="labrador">Labrador Retriever</option>
              <option value="golden">Golden Retriever</option>
              <option value="german">German Shepherd</option>
              <option value="ragdoll">Ragdoll</option>
              <option value="persian">Persian</option>
              <option value="american">American shorthair</option>
              <option value="lop">Holland Lop</option>
              <option value="dwarf">Netherland Dwarf</option>
              <option value="pekin">Pekin Duck</option>
            </select>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-6">
            <label for="petPersonality">What is your animal's personality?</label>
            <select class="form-select" id="personality" name="petPersonality[]" multiple required>
              <option value="fun">Fun</option>
              <option value="social">Social</option>
              <option value="calm">Calm</option>
              <option value="active">Active</option>
              <option value="loves people">Loves People</option>
              <option value="hates people">Hates People</option>
              <option value="loves to eat">Loves to Eat</option>
              <option value="picky eater">Picky Eater</option>
              <option value="likes attention">Likes Attention</option>
              <option value="prefers to be alone">Prefers to Be Alone</option>
              <option value="bold">Bold</option>
              <option value="aggressive">Aggressive</option>
              <option value="shy">Shy</option>
              <option value="patient">Patient</option>
              <option value="intelligent">Intelligent</option>
              <option value="clumsy">Clumsy</option>
              <option value="curious">Curious</option>
              <option value="likes to play">Likes to Play</option>
              <option value="confident">Confident</option>
              <option value="timid">Timid</option>
              <option value="enjoys routine">Enjoys Routine</option>
            </select>
          </div>
          <div class="col-6">
            <label for="petAge">What is your preferred age for your pet in terms of months? </label>
            <input type="number" id="months" name="petAge" min="1" max="600">
              
            </select>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-10">
            
          </div>
          <div class="col-2 d-flex justify-content-end p-2">
            <button type="submit" class="button">submit</button>
          </div>
        </div>
      </form>
    </div>
</body>

</html>