<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/loading.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <image src="/images/gifs/cat.gif"></image>
    <p> Paws and breathe.. page is loading...</p>
  </div>
</body>

</html>