<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/login.css" rel="stylesheet" />
</head>

<body>
  <%- include('./partials/header', {active: 'who' })%>
    <h1><span class="text-white">Login</span> <span class="green-word">Page</span></h1>
    <hr>
    <div class="container-md div p-5">
      <div class="container row">
        <div class="col-6">
          <form action="/api/user/login" method="post">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password">
            <div class="row pt-5">
              <div class="col-6">
                <input class="form-check-input" type="radio" name="userType" value="admin">
                <label class="form-check-label" for="userType">admin</label><br>
                <input class="form-check-input" type="radio" name="userType" value="user" checked>
                <label class="form-check-label" for="userType">user</label>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <button class="button" type="submit">Sign in</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-6 p-5">
          <h5 class="dont">Don't have an account?</h5>
          <a href="/signup"><button class="join-button p-5">click here to join!</button></a>
        </div>
      </div>
    </div>
</body>

</html>