<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/login.css" rel="stylesheet" />
</head>

<body>
  <%- include('./partials/header', {active: 'who' })%>
    <h1><span class="text-white">Login</span> <span class="green-word">Page</span></h1>
    <hr>
    <div class="container-md div p-5">
      <div class="container row">
        <div class="col-6">
          <form action="/api/user/login" method="post">
            <label for="username">Email:</label>
            <input type="text" class="form-control" id="username">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password">
            <div class="row pt-5">
              <div class="col-6">
                <input class="form-check-input" type="radio" name="admin" value="admin">
                <label class="form-check-label" for="pet-experience">admin</label><br>
                <input class="form-check-input" type="radio" name="user" value="user" checked>
                <label class="form-check-label" for="pet-experience">user</label>
              </div>
              <div class="col-6">
                <button class="button2" type="submit">Sign in</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-6 p-5">
          <h5 class="dont">Don't have an account?</h5>
          <a href="/signup"><button class="button">here to join!</button></a>
          <img class="cat" src="/images/icons/cat.svg" alt="cat image">
        </div>
      </div>
    </div>
</body>

</html>