<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/pets.css" rel="stylesheet" />
</head>

<body>
  <%- include('./partials/header', {active: 'pets' }) %>
    <h1><span class="white-word">Get to know our</span> <span class="green-word">family</span></h1>
    <hr>
    </hr>
    <% if (user.type==="admin" ) { %>
      <button type="button" class="add" data-bs-toggle="modal" data-bs-target="#myModal"></button>
      <% } %>
        <div id="cards-container" class="container">
          <div class="row">
            <div id="c1" class="col-4 d-flex justify-content-end">
            </div>
            <div id="c2" class="col-4 d-flex justify-content-center">
            </div>
            <div id="c3" class="col-4 d-flex justify-content-start">
            </div>
          </div>
          <div class="row">
            <div id="c4" class="col-4 d-flex justify-content-end">
            </div>
            <div id="c5" class="col-4 d-flex justify-content-center">
            </div>
            <div id="c6" class="col-4 d-flex justify-content-start">
            </div>
          </div>
        </div>
        <div class="modal" id="myModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><b>Add Pet</b></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <form class="p-2" action="/api/pets" method="post">
                  <label for="name">pet name:</label>
                  <input class="form-control" type="text" name="name" required />
                  <label for="type">Pet type:</label>
                  <select name="type" class="form-select" required>
                    <option value="" disabled selected>Select pet</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="rabbit">Rabbit</option>
                    <option value="hamster">Hamster</option>
                    <option value="guinea-pig">Guinea pig</option>
                    <option value="bird">Bird</option>
                    <option value="fish">Fish</option>
                    <option value="turtle">Turtle</option>
                    <option value="frog">Frog</option>
                  </select>
                  <label for="breed">Pet breed:</label>
                  <select name="breed" class="form-select" required>
                    <option value="labrador">Labrador Retriever</option>
                    <option value="golden">Golden Retriever</option>
                    <option value="german">German Shepherd</option>
                    <option value="ragdoll">Ragdoll</option>
                    <option value="persian">Persian</option>
                    <option value="american">American shorthair</option>
                    <option value="lop">Holland Lop</option>
                    <option value="dwarf">Netherland Dwarf</option>
                    <option value="pekin">Pekin Duck</option>
                  </select>
                  <label for="age">Pet age:</label>
                  <input type="text" name="age" class="form-control" required />
                  <label for="personality">Pet personality:</label>
                  <input class="form-control" type="text" name="personality" required />
                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="button" data-bs-dismiss="modal">submit</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cancel</button>
              </div>
            </div>
          </div>
        </div>
        <ul class="pagination justify-content-center py-2">
          <li class="page-item disabled"><a id="pre" class="page-link" onclick="getPets(event)">previous</a></li>
          <li class="page-item active"><a id="p1" class="page-link" onclick="getPets(event)">1</a></li>
          <li class="page-item "><a id="p2" class="page-link" onclick="getPets(event)">2</a></li>
          <li class="page-item"><a id="p3" class="page-link" onclick="getPets(event)">3</a></li>
          <li class="page-item"><a id="next" class="page-link" onclick="getPets(event)">next</a></li>
        </ul>
        <script src="/scripts/apiController.js"></script>
        <%- include('../public/scripts/pets.ejs')%>
</body>

</html>