<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
  </head>
  <body>
    <p>RECOMMENDATION</p>
    <a href="/api/request/adopt/1"
      ><button class="btn btn-primary">Adopt</button>
    </a>
    <a href="/api/pets"><button class="btn btn-primary">Cancel</button> </a>
  </body>
</html>
