<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
    <style>
      body {
        background-image: url("/images/backgrounds/background-2.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/header', {active: 'requests'})%>
    <h1>RECOMMENDATION</h1>
    <a href="/api/adopt/1"
      ><button class="btn btn-primary">Adopt</button>
    </a>
    <a href="/api/pets"><button class="btn btn-primary">Cancel</button> </a>
  </body>
</html>
