<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/recommendation.css" rel="stylesheet" />
</head>

<body>
  <%- include('./partials/header', {active: 'requests' })%>
    <h1 id="recommend"><span class="white-word">Pet</span> <span class="green-word">Recommendation</span></h1>
    <hr>
    </hr>
    <div class="message-box container mx-5 mb-5 px-5 pt-5 pb-2 mx-auto">
      <% if (rec) { %>
        <h5><b>Based on what you have told us, we think you should adopt this pet!</b></h5>
        <div class="row d-flex justify-content-center p-2">
          <div style="padding:0;" class="col-md-6 img d-flex justify-content-end align-items-center">
            <img id="image" alt="pet" />
          </div>
          <div class="col-md-6 px-2 info d-flex justify-content-start align-items-center">
            <ul style="padding:0 35px; margin:0">
              <li><b>Pet ID:</b> <span id="petID"></span>
              </li>
              <li><b>Name:</b> <span id="name"></span>
              </li>
              <li><b>Type:</b> <span id="type"></span>
              </li>
              <li><b>Breed:</b> <span id="breed"></span>
              </li>
              <li><b>Age:</b> <span id="age"></span>
              </li>
              <li><b>Personality:</b> <span id="personality"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row d-flex justify-content-center px-5 mx-5 my-3">
          <div class="col-md-4  d-flex justify-content-end">
            <a id="adopt-btn"><button class="button"><img class="icon" src="/images/icons/paw.svg"> Adopt</button></a>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <button id="shuffle-btn" class="shuffle" onclick="shuffle()"></button>
          </div>
          <div class="col-md-4  d-flex justify-content-start">
            <a href="/meet-our-pets"><button class="btn btn-lg btn-danger">Cancel</button> </a>
          </div>
        </div>
        <% } else { %>
          <h2 class="mx-5 px-5 pt-5">Sorry we found no recommendations for you :( </h2>
          <h2 class="mx-5 mb-5 px-5 pb-5">plz try again or visit <a href="/meet-our-pets">meet-our-pets</a></h2>
          <% } %>
    </div>
    <script src="/scripts/apiController.js"></script>
    <%- include("../public/scripts/recommendation.ejs")%>
</body>

</html>