<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/forms.css" rel="stylesheet" />
</head>

<body class="form">
  <h1><span class="white-word">Rescue</span> <span class="green-word">Form</span></h1>
  <hr>
  <div class="container mt-3">
    <form class="p-5" action="/api/rescue" method="post">
      <div class="row p-2">
        <div class="col-6">
          <label for="location"><b>Enter Google Maps URL of rescue location</b></label><br>
          <input class="form-control" type="url" id="location" name="location">

        </div>
        <div class="col-6">
          <label for="photo"><b>Provide an image of the animal to be rescued:</b></label><br><br>
          <input type="file" id="photo" name="photo">
        </div>
      </div>

      <div class="row p-2">
        <div class="col-6">
          <label for="ques"><b>Is the animal suffering from clinical condition?</b></label><br>
          <input class="form-check-input" type="radio" name="question" id="yes-clinical" value="yes">
          <label class="form-check-label" class="form-check-label" for="yes-clinical">Yes</label><br>
          <input class="form-check-input" type="radio" name="question" id="no-clinical" value="no">
          <label class="form-check-label" class="form-check-label" for="no-clinical">No</label>
        </div>
        <div class="col-6">
          <label for="ques1"><b>Can you foster the animal till the animal is rescued?</b></label><br>
          <input class="form-check-input" type="radio" name="question1" id="yes-foster" value="yes">
          <label class="form-check-label" for="yes-foster">Yes</label><br>
          <input class="form-check-input" type="radio" name="question1" id="no-foster" value="no">
          <label class="form-check-label" for="no-foster">No</label>
        </div>
      </div>

      <div class="row p-2">
        <div class="col-6">
          <label for="ques2"><b>When did you first see the animal?</b></label><br>
          <input type="datetime-local" id="first-sighting" name="first-sighting">
        </div>
        <div class="col-6 d-flex justify-content-end px-5">
          <button class="button" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>