<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/forms.css" rel="stylesheet" />
</head>

<body class="form">
  <%- include('./partials/header', {active: 'requests' })%>
    <h1><span class="white-word">Rescue</span> <span class="green-word">Form</span></h1>
    <hr>
    <div class="container mt-3">
      <form class="p-5" action="/api/rescue" enctype="multipart/form-data" method="post">
        <div class="row p-2">
          <div class="col-md-6">
            <label for="dateOfRescue"><b>When did you first see the pet?</b></label><br>
            <input type="datetime-local" class="form-control" id="first-sighting" name="dateOfRescue">
          </div>
          <div class="col-md-6">
            <label for="image"><b>Provide an image of the rescued animal:</b></label><br>
            <input type="file" id="photo" name="image" max="10485760" required>
          </div>
        </div>

        <div class=" row p-2">
          <div class="col-md-4">
            <label for="petType">What type is the animal?</label>
            <select class="form-select" id="breed" name="petType" required>
              <option value="cat">Cat</option>
              <option value="dog">Dog</option>
              <option value="rabbit">Rabbit</option>
              <option value="fish">Fish</option>
              <option value="turtle">Turtle</option>
              <option value="hamster">Hamster</option>
              <option value="bird">Bird</option>
              <option value="guinea pig">Guinea pig</option>
              <option value="frog">Frog</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="isSick"><b>Is the animal suffering from clinical condition?</b></label><br>
            <input class="form-check-input" type="radio" name="isSick" id="yes-clinical" value="yes" checked required>
            <label class="form-check-label" class="form-check-label" for="yes-clinical">Yes</label><br>
            <input class="form-check-input" type="radio" name="isSick" id="no-clinical" value="no" required>
            <label class="form-check-label" class="form-check-label" for="no-clinical">No</label>
          </div>
          <div class="col-md-4">
            <label for="canFoster"><b>Can you foster the animal till the animal is rescued?</b></label><br>
            <input class="form-check-input" type="radio" name="canFoster" id="yes-foster" value="yes" checked required>
            <label class="form-check-label" for="yes-foster">Yes</label><br>
            <input class="form-check-input" type="radio" name="canFoster" id="no-foster" value="no" required>
            <label class="form-check-label" for="no-foster">No</label>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-6">
            <label for="rescueAddress"><b>Enter Google Maps URL of rescue location</b></label><br>
            <input class="form-control" type="url" id="location" name="rescueAddress" required>
          </div>
          <div class="col-md-6">
            <label for="rescuerPhone">Provide us with your phone number:</label><br>
            <input type="rescuerPhone" class="form-control" name="rescuerPhone" pattern="05[0-9]{8}" required>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-md-10"></div>
          <div class="col-md-2 d-flex justify-content-end pt-5">
            <button class="button" type="submit">Submit</button>
          </div>
        </div>

      </form>
    </div>
    <script>
      var currentDate = new Date().toISOString().slice(0, 16);
      document.getElementById("first-sighting").setAttribute("max", currentDate);
    </script>

</body>

</html>