<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <link href="/stylesheets/forms.css" rel="stylesheet" />

</head>

<body class="form">
  <%- include('./partials/header', {active: 'requests' })%>
    <h1><span class="white-word">Volunteer</span> <span class="green-word">Form</span></h1>
    <hr>
    </hr>
    <div class="container mt-3">
      <form class="needs-validation p-5" novalidate action="/api/volunteer" method="post" style="max-height: 630px;">
        <div class="row p-2">
          <div class="col-6">
            <label for="fname"><b>First Name</b></label>
            <input type="text" name="fname" required class="form-control" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="col-6">
            <label for="lname"><b>Last Name</b></label>
            <input type="text" name="lname" required class="form-control" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill out this field</div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-6">
            <label for="mnumber"><b>Mobile Number</b></label>
            <input type="tel" name="mnumber" required class="form-control" placeholder="+966-xxxxxxxxx"
              pattern="\+966-\d{9}">
            <div class="invalid-feedback">Please enter a valid mobile number in the format: +966-xxxxxxxxx</div>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-6">
            <label for="gender">Gender</label>
            <select size="1" name="gendermenu" id="gendermenu" required class="form-control form-select">
              <option value="" disabled selected>Select Gender</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill out this field</div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-6">
            <label for="question"><b>Have you ever volunteered in any animal shelter before?</b></label>
            <div class="form-check">
              <input type="radio" name="question" id="yes" value="yes" class="form-check-input" required>
              <label class="form-check-label" for="yes">Yes</label>
            </div>
            <div class="form-check">
              <input type="radio" name="question" id="no" value="no" class="form-check-input" required>
              <label class="form-check-label" for="no">No</label>
            </div>
            <div class="invalid-feedback">Please select one of the options</div>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-6">
            <label for="period">If yes, how long have you volunteered?</label><br>
            <input type="number" class="form-control" id="period-num" name="period-num" min="1" max="50">
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field</div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-6">
            <label for="animals">What animals are you familiar with?</label>
            <select size="6" name="animalmenu" id="animalmenu" multiple class="form-control form-select">
              <option value="cats">Cats</option>
              <option value="dogs">Dogs</option>
              <option value="fish">Fish</option>
              <option value="rabits">Rabbits</option>
              <option value="hamster">Hamsters</option>
              <option value="birds">Birds</option>
            </select>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field</div>
          </div>
          <div class="col-6">
            <label for="volunteer-options" class="form-check-label">Select the areas that you would like to volunteer
              in:</label><br>
            <input class="form-check-input" type="checkbox" id="rescue" name="rescue" value="rescue"> Rescuing<br>
            <input class="form-check-input" type="checkbox" id="trasport" name="trasport" value="trasport">
            Transporting<br>
            <input class="form-check-input" type="checkbox" id="screen" name="screen" value="screen"> Pet Screen<br>
            <input class="form-check-input" type="checkbox" id="adopter" name="adopter" value="adopter"> Potential
            Adopters
          </div>
        </div>

        <div class="row p-2">
          <div class="col-6">
            <label class="form-check-label" for="time">When do you prefer to volunteer?</label><br>
            <input class="form-check-input" type="radio" id="day" name="day" value="day "> Day<br>
            <input class="form-check-input" type="radio" id="night" name="night" value="night "> Night<br>
          </div>
          <div class="col-6 d-flex justify-content-end py-5">
            <button class="button" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
</body>

</html>