<script>
    const disableOrEnable = () => {//TO-DO
        // if (curUsername != document.getElementById('username').value || curEmail != document.getElementById('email').value) 
        //     document.getElementById("update-acc").disabled = false;
        // else 
        //     document.getElementById("update-acc").disabled = true;  
    }
    
    const displayPets = (pets) => {
        const container = document.getElementById("cards-container");
        container.innerHTML = '';
        pets.forEach(pet => {
            const card = document.createElement("div");
            card.className = "card";
            card.id = `card-${pet.petID}`;
            card.innerHTML = `
                <img src="${pet.image}" alt="Card 1" />
                <div class="card-text">
                    <ul>
                        <li>Pet ID: ${pet.petID}
                        </li>
                        <li>Name: ${pet.name}
                        </li>
                        <li>Type: ${pet.type}
                        </li>
                        <li>Breed: ${pet.breed}
                        </li>
                        <li>Age: ${pet.age}
                        </li>
                        <li>Personality: ${arrPrint(pet.personality)}
                        </li>
                    </ul>
                </div>
                <% if (cookies.userType !="admin" ) { %>
                    <a href="/api/adopt/${pet.petID}"><button class="btn btn-primary">Adopt</button></a>
                <% } else { %>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-${pet.petID}">edit</button>
                    <button onclick="deletePet('${pet.petID}')" class="btn btn-primary">Delete</button>
                    <div class="modal" id="modal-${pet.petID}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Pet</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <label for="name"><b>pet name:</b></label><br>
                                        <input type="text" name="name" id="name-${pet.petID}" value="${pet.name}" required /><br>
                                        <label for="type"><b>pet type:</b></label><br>
                                        <input type="text" name="type" id="type-${pet.petID}" value="${pet.type}" required /><br>
                                        <label for="breed"><b>pet breed:</b></label><br>
                                        <input type="text" name="breed" id="breed-${pet.petID}" value="${pet.breed}"  required /><br>
                                        <label for="age"><b>pet age:</b></label><br>
                                        <input type="text" name="age" id="age-${pet.petID}" value="${pet.age}"  required /><br>
                                        <label for="personality"><b>pet personality:</b></label><br>
                                        <input type="text" name="personality" id="personality-${pet.petID}" value="${arrPrint(pet.personality)}" required /><br>                    
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="editPet('${pet.petID}')" class="btn btn-info">send</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            `;
            container.appendChild(card);
        });
    }

    const deletePet = (petID) => {
        deleteRequest(`/api/pets/${petID}`, (response) => {
            console.log(response);
            const card = document.getElementById(`card-${response.id}`);
            card.remove();
        });
    }

    const editPet = (petID) => {
        const body = {
            name: document.getElementById(`name-${petID}`).value,
            type: document.getElementById(`type-${petID}`).value,
            breed: document.getElementById(`breed-${petID}`).value,
            age: document.getElementById(`age-${petID}`).value,
            personality: document.getElementById(`personality-${petID}`).value,
        }
        putRequest(`/api/pets/${petID}`, body, (response) => {
            console.log(response);
        });
    }

    const getPets = () => {
        getRequest(`/api/pets`, (response) => {
            displayPets(response);
        });
    }

    getPets();
</script>