<script>
    const changeStatus = (type, reqID, status) => {
        const body = {
            status: status
        }
        putRequest(`/api/${type}/status/${reqID}`, body, (response) => {
            console.log(response);
            document.getElementById(`status-${response.id}`).innerHTML = response.status;
            document.getElementById(`accept-${response.id}`).remove();
            document.getElementById(`reject-${response.id}`).remove();
        });
    }

    const getRequests = (type) => {
        getRequest(`/api/${type}/status/<%=user._id%>`, (response) => {
            console.log(response);
            var div = document.getElementById(type);
            div.className = "container p-5 my-5 bg-dark text-white";
            div.innerHTML = ``;
            response.forEach(req => {
                div.innerHTML += `
                <p>requestID: ${req.requestID} <b id='status-${req.requestID}'>status: ${req.status}</b></p> `;
                if (req.status === "pending") {
                    div.innerHTML += `                   
                    <button id="accept-${req.requestID}" class="btn btn-info" onclick="changeStatus('${type}', '${req.requestID}', 'accepted')">accept</button>
                    <button id="reject-${req.requestID}" class="btn btn-danger" onclick="changeStatus('${type}', '${req.requestID}', 'rejected')">reject</button>
                    `;
                }
            });
        });
    }

    if ('<%= user.type %>' === "admin") {
        getRequests('adopt');
        getRequests('handover');
        getRequests('rescue');
        getRequests('volunteer');
    }
</script>